body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.375em;
}

html {
    overflow-y:scroll;
}

.imglogo {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.navigation {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /*background-color:red;*/ 
  color:red;
  height:1px;
  content: " ";
  display: table;
  width: 1170px;
}

.navigation-box{
  box-sizing:border-box;
}

.navigation-list{
  list-style: none outside none;
  margin-top: 0;
  padding: 0;
}

.logo{
    margin-bottom: 20px;
}

.logo:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.nav-wrap nav{
    position: relative;
    margin-top:40px;
    margin-top: 90px
}

.nav-wrap nav{
  margin-top:60px;
}

.nav-wrap .to-right{
  float: right;

}
.nav-wrap .to-left{
  float: left;
}

.main-nav > ul {
  margin-bottom: 0;
}

.main-nav > ul li {
  position: relative;
  z-index: 1;
  margin: 0 2px;
}

.main-nav > ul > li {
  float: left;
  
  margin-top: 32px;
}

.main-nav.to-left > ul li {
  float: right;
}

.main-nav > ul > li a {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition:    all 0.3s ease-in-out 0s;
  -o-transition:      all 0.3s ease-in-out 0s;
  -ms-transition:     all 0.3s ease-in-out 0s;
  transition:         all 0.3s ease-in-out 0s;
  text-decoration: none;
}

.main-nav > ul > li > a {
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: bold;
    
    color: #303030;
    padding: 11px 22px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.main-nav > ul > li > a:hover,
.main-nav > ul > li:hover > a,
.main-nav > ul > li ul a:hover {
    border-color: #303030;
    color: #f26c22;
}

.main-nav > ul > li > a:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 120%;
    z-index: 1;

    width: 30px;
    height: 30px;
    opacity: 0;

    -webkit-transform:  translate(-50%, 0);
    -moz-transform:     translate(-50%, 0);
    -o-transform:       translate(-50%, 0);
    -ms-transform:      translate(-50%, 0);
    transform:          translate(-50%, 0);
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition:    all 0.2s ease-in-out 0.1s;
    -o-transition:      all 0.2s ease-in-out 0.1s;
    -ms-transition:     all 0.2s ease-in-out 0.1s;
    transition:         all 0.2s ease-in-out 0.1s;
}

.main-nav > ul > li > a:hover:before {
    opacity: 1;

    background: url("img/icon.png") no-repeat scroll 0 0 transparent;
}

.main-nav > ul > li a:hover + ul,
.main-nav > ul > li a + ul:hover {
  display: block;
}

.main-nav > ul > li ul {
  position: absolute;
  background: #ffffff;
  display: none;
  z-index: 100;
  margin-top: -2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  list-style-type: none;
  padding-left: 0;
}

.main-nav > ul > li li {
    position: relative;
    width: 220px; 
    padding-left: 20px;
}

.main-nav > ul > li ul a {
    font-family: "Montserrat";
    font-size: 14px;
    padding: 11px;
    display: block;
    color: #303030;
}

.main-nav > ul > .current-menu-item > a,
.main-nav > ul:hover .current-menu-item:hover > a {
  border-top-color: #303030;
  border-bottom-color: #303030;
}

.main-nav > ul .current-menu-item > a:hover {
    color: #303030;
}

.logodiv, .menulinks{
  position: relative;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
  float:left;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container{
  width:100%;
  height:auto;
  background-color:#ededed;
}

.footer{
  width:100%;
  height:30px;
  background-color:#ffffff;
}

.minifooter{
    color: #646464;
    font-family: "Montserrat";
    font-size: 13px;
    line-height: 36px;
    background-color:#ffffff;
    padding-bottom:0px;
    margin-bottom:0px;
    text-align:center;
}

.menulinks {
  width: 42.4%;
  padding-right: 15px;
  padding-left: 15px;
}
.logodiv {
  width: 15.2%;
}

.content{
    content: " ";
    display: table;
    clear: both;
    box-sizing: border-box;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*DEALS*/

h1{
  font-size:50px;
  font-family: 'Lobster', sans-serif;
  color:#fe8f2d;
  text-align:center;
  margin-top:35px;
  margin-bottom:15px;
  font-weight:normal;
}


h2{
  font-size:30px;
  font-family: 'Open Sans', sans-serif;
  color:#808080;
  line-height:120%;
  text-align:center;
  margin-top:35px;
  margin-bottom:15px;
  font-weight:normal;
}

h3{
  font-size:21px;
  font-family: 'Open Sans', sans-serif;
  color:#808080;
  line-height:120%;
  text-align:center;
  margin-top:30px;
  margin-bottom:5px;
  font-weight:normal;
}

h4{

}

.sub{
  text-decoration:underline;
  font-size:110%;
  margin-top:20px;
}

.color{
  display:inline;
  color:#fe8f2d;
}

.link{
  display:inline;
  color:#fe8f2d;
}

.small{
  font-size:15px;
  font-family: 'Open Sans', sans-serif;
  color:#808080;
  line-height:120%;
  text-align:center;
  margin-top:0px;
  margin-bottom:30px;
  font-weight:normal;
}

.status{
  margin-bottom:0px;
  margin-top:0px;
}

.link > a {color: #fe8f2d; text-decoration: none;}
.link > a:hover {color: #FF6E00;}

/*PROFILE*/

.profielbox{
  width:700px;
  height:auto;
  background-color:#FFFFFF;
  background-image: url("img/subtle_dots.png");
  border-radius: 2px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
  margin:0 auto;
  margin-top:35px;
  margin-bottom:0px;
  overflow:hidden;
}

.userprofile-left img{
  width:300px;
  height:300px;
}

.userprofile-right img{
  margin-left:-3px;
}

.userprofile{
  padding:10px;
}

.userprofile-left{
  height:300px;
  width:50%;
  float:left;
}

.userprofile-right{
  height:300px;
  width:50%;
  float:left;
}

#useritem{
  margin-bottom:10px;
  width:100%;
  clear:both;
}

#badgeleft{
  float:left;
  width:50px;
  height:50px;
}

#badgeright{
  margin-left:10px;
  float:left;
  width:280px;
  height:50px;
}

.voteuserprofile{
  float:right;
  display:inline;
  width:70px;
}

/*MIJNDEAL*/

.mijndeal{
  width:980px;
  height:auto;
  background-color:#FFFFFF;
  background-image: url("img/subtle_dots.png");
  border-radius: 2px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
  margin:0 auto;
  margin-top:35px;
  margin-bottom:0px;
  overflow:hidden;
}

.lastdealbox{
  margin-bottom:35px;
}

.mijndeal-button{
  width:980px;
  height:auto;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:35px;
  overflow:hidden;
}

/*DEAL*/

.deal{
  width:980px;
  height:254px;
  background-color:#FFFFFF;
  background-image: url("img/subtle_dots.png");
  border-radius: 2px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
  margin:0 auto;
  margin-top:35px;
  margin-bottom:35px;
  overflow:hidden;
}

.deal-title{
  font-size:25px;
  overflow:hidden;
  color:#646464;
  font-family: "Montserrat";
  line-height:115%;
  margin-bottom:5px;
}

.deal-info{
  /* background-color:yellow; */
  height:254px;
  width:359px;
  float:left;
  padding:10px;
}

.deal-information{
  /* padding-top:10px;
  margin-top:10px; */
  width:100%;
  /* background-color:red; */
  height:142px;
}

.deal-practical{
  width:100%;
  /* background-color:green; */
}

.practical{
  float:left;
  width:35px;
  height:29px;
  margin-left:11px;
}

.practicaltext{
  line-height:100%;
  padding-top:3px;
  float:left;
  margin-bottom:20px;
}

.practicals{
  float:right;
  width:51px;
padding-bottom:10px;
}

.deal-photo{
  margin:10px;
  width:300px;
  height:232px;
  height:;
  overflow:hidden;
  background-color:red;
  float:left;
}

.deal-photo img{

}

.deal-owner{
  width:300px;
  height:254px;
/*  background-color:blue;*/
  padding:10px;
  float:left;
}



.owner-avatar{
  float:left;
  margin-right:7px; /*POSITION BADGE CORRECTLY*/
}

.owner-name{
  margin-top:10px;
  float:left;
  font-size:25px;
  margin-left:0px;
  color:#646464;
  text-align:left;
  width:100%;
  font-family: "Montserrat";
}

.owner-name > a {color: #fe8f2d; text-decoration: none;}
.owner-name > a:hover {color: #FF6E00;}

.owner-address{
  margin-top:14px;
  float:left;
  font-size:17px;
  margin-left:0px;
  color:#646464;
  text-align:left;
  width:100%;
}

.owner-badges{
  margin-top:0px;
  float:left;
  font-size:17px;
  margin-left:4px;
  color:#646464;
  text-align:left;
}

.dealbutton{
  float:right;
  width:100%;
  height:32px;
  border: 1px solid rgb(28, 108, 122);
  border-radius: 3px;
  box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px rgb(254, 254, 254), 0 5px 3px 3px rgb(210, 210, 210);
  color: #fff;
  cursor: pointer;
  font-family: "Oswald",sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  /* padding: 1px 5px; */
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear 0s;
  width: 100%;
  background: none repeat scroll 0 0 #fe8f2d;
}

.dealbutton-left{
  float:left;
  width:47%;
}

.dealbutton-right{
  float-right;
  width:47%;
}

.dealbutton:hover{
background: none repeat scroll 0 0 #e36a00;
}

.selectors{
  width:980px;
  margin:0 auto;
  margin-top:5px;
  margin-bottom:35px;
  padding-bottom:35px;
  padding-left:200px;
  padding-right:200px;
}

/* 
* .selectors{
padding-left:300px; Internet Explorer Browsers
} */

.instellingen{
  width:500px;
  margin:0 auto;
  margin-top:35px;
  padding-bottom:20px;
  text-align:center;
}

.instellinglink{
    border: 1px solid rgb(28, 108, 122);
    border-radius: 3px;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px rgb(254, 254, 254), 0 5px 3px 3px rgb(210, 210, 210);
    color: #fff;
    cursor: pointer;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 8px 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 100%;
    background: none repeat scroll 0 0 #fe8f2d;
}

.instellinglink a, .instellinglink a:hover{
      color: #fff;
          font-family: "Oswald",sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 8px 5px;
}

.instellinglink:hover{
  background: none repeat scroll 0 0 #e36a00;
}



.regioselect{
  float:left;
  width:48%;
}

.methodeselect{
float:right;
  width:48%;
}


/*dealuser*/

.dealuser{
  width:680px;
}

/* Text Styles */

a {color: #fb9e25; text-decoration: none;}
a:hover {color: #fb9e25;}
.label {color: #777;text-transform: uppercase;margin-left: 10px;font-size: 0.8em;margin-bottom: 5px;display: block;}


/*COINS*/

.coins{
  text-align:center;
  font-size:25px;
  padding-top:15px;
}

.cointextfix{
  display:inline-block;
  margin:0;
  padding-right:0px;
  padding-top:1px;
  width:30px;
  height:26px;
  color:#808080;
  text-align:right;
/*   background-color:green; */
  vertical-align:middle;
}


.coinimgfix{
  background-image:url("img/coins.png");
  display:inline-block;
  margin:0;
  padding:0;
  width:30px;
  height:26px;
  /* background-color:blue; */
  vertical-align:middle;
}

/*SEARCHBAR*/

.searchbar{
  width:980px;
  margin:0 auto;
  margin-top:35px;
  margin-bottom:0px;
  padding-bottom:10px;
  padding-left:200px;
  padding-right:200px;
}

.searchfield{
  width:100%;
  color:#808080; 
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
  font-size: inherit;
  border: 0 none;
  padding: 0.5em;
  text-align:center;
}

/*CREATE DEALS*/

.submitdeal{
  width:100%;
  padding: 18px 6% 60px;
  background-image: url("img/subtle_dots.png");
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
  margin-top:35px;
  margin-bottom:-30px;
}

.submitdeal p{
  margin-bottom: 15px;
}

[data-icon]:after {
    color: #fe8f2d;
    content: attr(data-icon);
    font-family: "FontAwesome";
    left: 10px;
    position: absolute;
    top: 35px;
    width: 30px;
}

.submitdeal .submitbutton{

}

.submitdeal .inloggen{
    border: 1px solid rgb(28, 108, 122);
    border-radius: 3px;
    box-shadow: 0 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0 0 0 3px rgb(254, 254, 254), 0 5px 3px 3px rgb(210, 210, 210);
    color: #fff;
    cursor: pointer;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    margin-bottom: -45px;
    padding: 8px 5px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear 0s;
    width: 97.5%;
    background: none repeat scroll 0 0 #fe8f2d;
}

.submitdeal .inloggen:hover{
  background:#e36a00;
}

.camera > [data-icon]:after {
    top: 40px;
}

.userafbeelding > [data-icon]:after {
    top: 144px;
}

.submitdeal label {
    color: rgb(64, 92, 96);
    position: relative;
}

.submitdeal input, .submitdeal textarea {
    border: 1px solid rgb(178, 178, 178);
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    box-sizing: content-box;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;
    transition: all 0.2s linear 0s;
    width: 92%;
}

/*PROFILES*/

.userarea{
  width:980px;
  margin:0 auto;
  margin-top:5px;
  margin-bottom:35px;
  padding-bottom:35px;
  padding-left:200px;
  padding-right:200px;
}

.user{
  width:168px;
  background-color:white;
  float:left;
  margin-bottom:20px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;
  margin-left:18px;
  background-image: url("img/subtle_dots.png");
  border-radius: 5px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
  height:155px;
  overflow:hidden;
}


.username{
  float:left;
  width:100%;
  overflow:hidden;
  height:26px;
}

/* .user:nth-child(even){
  margin-left:4%;
} */

.badgetop{
  margin-top:0px;
  padding-top:0px;
  float:right;
  margin-right:7px;
  width:50px;
}

.imgfbfix{
  float:left;
  height:100px;
  width:100px;
  overflow:hidden;
}

/*POPUP COINS*/


.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 362px;
  height:300px;
  position: relative;
  margin: 302px auto;
  padding: 5px 20px 13px 20px;
    background-image: url("img/subtle_dots.png");
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
    text-align:center;
}

.modalDialog > div > h1{
  font-size: 48px;
  color:#fe8f2d;
  padding: 2px 0 10px 0;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px; /*was 30*/
  margin-top:10px;
}

.close {
  background: #FE8F2D;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #5F9BC6; }

.info{
  color: #33bbff;
    margin-bottom: -49px;
    font-size: 110%;  
    margin-top: 81px;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(150, 150, 150, 0.5);
}

.hovera{
  color:#5F9BC6;
  cursor:pointer;
}

.hovera:hover{
  color:#FE8F2D;
  cursor:pointer;
}

/*MEDIA QUERIES*/

@media (max-width: 1169px) {

.main-nav > ul > li > a:before {
    bottom: 0;
}

  .navigation {
    /*background-color:yellow;*/
    width: 700px;
  }
  .menulinks {
    width: 36.66666667%;
  }
  .logodiv {
    width: 26.66666667%;
  }
  .main-nav > ul > li {
      margin-top: 0px;
  }
  .nav-wrap nav {
      margin-top: 34px;
  }
  .main-nav > ul > .current-menu-item > a,
  .main-nav > ul:hover .current-menu-item:hover > a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    /*active style*/
  }
  .main-nav > ul > li > a:hover:before {
      opacity: 1;
      background:none;
  }
  .main-nav > ul > li a:hover + ul,
  .main-nav > ul > li a + ul:hover, {
    display: block;
  }
  .main-nav > ul > li > a:hover,
  .main-nav > ul > li:hover > a,
  .main-nav > ul > li ul a:hover {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
  }
  .content{
    width:700px;
  }
}

@media (max-width: 1000px){
  .deal, .mijndeal, .mijndeal-button{
    width:359px;
    height:auto;
  }
  .deal-photo{
       margin: 15px 0 21px 28px;
  }
  .dealbutton{
    height:45px;
  }
  .deal-owner{
    width:359px;
    text-align:center;
  }
  .owner-name{
    text-align:center;
    margin-top:10px;
  }
  .owner-address{
    text-align:center;
    width:100%;
  }
  .owner-avatar, .owner-badges{
    float:none;
    display:inline-block;
  }
  .deal-title, .deal-information{
    text-align:center;
  }
  .regioselect, .methodeselect{
    float:none;
    width:100%;
    padding-top:10px;
  }

  .instellinglink{
    float:none;
    width:250px;
    margin: 10px auto;
    margin-bottom:0px;
  }

  .selectors, .searchbar{
    /* padding-bottom:0px; */
    width:359px;
    padding-left:0px;
    padding-right:0px;
  }
  .dropcontainer{
    width:359px;
  }

  .submitdeal input, .submitdeal textarea {
    width: 89%;
  }
  
  .user{
    margin-left:7px;
  }
}

@media (max-width:735px){
  .profielbox{
  width:320px;
  height:620px;
}

#badgeleft{
  margin-top:10px;
  float:none;
}

.userprofile-right {
    float: none;
    width:100%;
}

#badgeright {
    margin-left: 55px;
    margin-top: 4px;
}

}


@media (max-width: 700px) {
  .navigation {
    /*background-color:blue;*/
    width: 500px;
  }
  .menulinks {
    width: 36.66666667%;
  }
  .logodiv {
    width: 26.66666667%;
  }
  .main-nav > ul > li >a {
    padding: 5px 10px;
    margin:1px;
    /*background-color:orange;*/
  }
  .main-nav > ul > li {
    /*background-color:pink;*/
    margin:1px;
  }
  .nav-wrap nav {
      margin-top: 20px;
  }
  .main-nav > ul > .current-menu-item > a,
  .main-nav > ul:hover .current-menu-item:hover > a{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    /*active style*/
  }
  .main-nav > ul > li > a:hover:before {
      opacity: 1;
      background:none;
  }
  .main-nav > ul > li a:hover + ul,
  .main-nav > ul > li a + ul:hover, {
    display: block;
  }
  .main-nav > ul > li > a:hover,
  .main-nav > ul > li:hover > a,
  .main-nav > ul > li ul a:hover {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
  }
  .content{
    width:500px;
  }
}

.fix{
  font-size:90%;
  /* font-weight:500; */
}




/*SELECT FORMS*/

.custom-dropdown__select{
    font-size: inherit; 
    padding: .5em; 
    margin: 0; 
    background-color: #ffffff;
    color:#808080; 
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
}

.fixdef {
    background-color: #ffffff;
    color:#808080;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
      width:100%;
    }

    .custom-dropdown__select {
        padding-right: 2.5em;
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
      width:100%;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        color: #fff;
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before {
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .fixdev::before {
        background-color:#ffffff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .fixdev::after {
        color: rgba(1,1,1,.8);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}


.pagination {
margin:7px auto;
padding:0px;
text-align:center;
}
.pagination a {
text-decoration:none;
font-weight:bold;
}

.pagination li, .pagination a {
padding:4px 5px;
}



.pagination li:not(.disabled) a:hover {
  border:1px solid #ddd;
border-radius:5px;
color:#000;
padding:10px 6px;
background:#666;
  background-image:-webkit-linear-gradient(top, #fcfcfc, #eaeaea);
background-image:-moz-linear-gradient(top, #fcfcfc, #eaeaea);
background-image:-o-linear-gradient(top, #fcfcfc, #eaeaea);
background-image:-ms-linear-gradient(top, #fcfcfc, #eaeaea);
}
.pagination li
{
display: inline;
list-style-type: none;
}
