html{
	height:auto;
}

body{
	background: #fff;
	background-image:url("bgn.jpg");
	background-attachment:fixed;
	font-family: 'Open Sans', sans-serif;

}

a.hiddenanchor{
	display: none;
}


#logo{
	margin: 20px auto;
    width: 410px;
    height:261px;
    /* background-color:red; */
}

#wrapper{
	width: 400px;
	margin: 10px auto;	
	position: relative;
	background-color:red;
}

#wrapper a{
	text-decoration: none;
}

#wrapper h1{
	font-size: 48px;
	color:#fe8f2d;
	padding: 2px 0 10px 0;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px; /*was 30*/
}

#wrapper h2{
	color:#fe8f2d;
	font-family: 'Lobster', cursive;
	text-align: center;
}


#wrapper p{
	margin-bottom:15px;
}

#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

#wrapper input,#wrapper textarea{
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing : content-box;
	box-sizing : content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#wrapper textarea{
    resize: none;
    height:77px;
}

#wrapper input:active, #wrapper input:focus{
	border: 1px solid #fe8f2d;
	background: rgba(238, 236, 240, 0.2);	
} 

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontAwesome';
    color:#fe8f2d;
    position: absolute;
    left: 10px;
    top: 5px;
	width: 30px;
}

.textarea [data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontAwesome';
    color:#fe8f2d;
    position: absolute;
    left: 10px;
    top: -72px;
	width: 30px;
}

@-moz-document url-prefix() {
.textarea [data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontAwesome';
    color:#fe8f2d;
    position: absolute;
    left: 10px;
    top: -66px;
	width: 30px;
}
}

#wrapper p.button input{
	width: 100%;
	cursor: pointer; /*handje*/	
	padding: 8px 5px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 18px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	/*nice shadows*/
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#wrapper p.button input:active,
#wrapper p.button input:focus{
	background:#e36a00;
	position: relative;
	top: 1px;
}

.inloggen{
	background:#fe8f2d;
}

.inloggen:hover{
	background:#e36a00;
}

.fb{
	background:#3b5998;
}

.fb:hover{
	background:#304674
}

p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px; /*was 20, but adding wtf is mealdeal*/
	width: 340px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: center;
	-webkit-border-radius: 0 0  5px 5px;
	-moz-border-radius: 0 0  5px 5px;
	border-radius: 0 0  5px 5px;
	background:#ededed;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color:#fe8f2d;
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color:#a74e00;
	
	border: 1px solid #ff7800;
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}

/*FORMS*/

#register, #login{
	position: absolute;
	top: 0px;
	width: 88%;
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background-image:url(../img/subtle_dots.png);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.11);
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.11);

}
#register{	
	z-index: 21;
	display:none;
}
#login{
	z-index: 22;
}

/*ANIMATIES*/

#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 362px;
	height:445px;
	position: relative;
	margin: 302px auto;
	padding: 5px 20px 13px 20px;
    background-image: url("../img/subtle_dots.png");
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
    text-align:center;
}

.modalDialog > div > h1{
	font-size: 48px;
	color:#fe8f2d;
	padding: 2px 0 10px 0;
	font-family: 'Lobster', cursive;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px; /*was 30*/
	margin-top:10px;
}

.close {
	background: #FE8F2D;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #5F9BC6; }

.info{
	color: #33bbff;
    margin-bottom: -49px;
    font-size: 110%;	
    margin-top: 81px;
    text-align: center;
    text-shadow: 0px 3px 5px rgba(150, 150, 150, 0.5);
}

.hovera{
	color:#5F9BC6;
	cursor:pointer;
}

.hovera:hover{
	color:#FE8F2D;
	cursor:pointer;
}

/*INTERNET EXPLORER FIXES*/

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}


